ion-header{
    ion-toolbar{
        ion-img{
            width: 10rem;
            margin: auto;
            padding: 1rem;
        }
    }
}
ion-content{
    .title-page{
        display: flex;
        flex-direction: row;
        margin: 1rem 1rem;
        ion-text{
            position: absolute;
            margin: 0.6rem 2.5rem;
        }
        .new{
            margin-left: 8rem;
        }
    }
}