
<form class="ion-padding">
  <ion-img src="../../../assets/logo-login.svg"></ion-img>
  <ion-item>
    <ion-label stacked >Email</ion-label>
    <ion-input 
      [(ngModel)]="credenciais.email" 
      name="email"
      clear-input="true"
      placeholder=" exemplo@exemplo.com"
      type="text">
    </ion-input>
  </ion-item>
  <ion-item *ngIf="!forgotPassword" >
    <ion-label stacked >Senha</ion-label>
    <ion-input 
      [(ngModel)]="credenciais.senha" 
      name="senha"
      placeholder=" sua senha"
      type="password">
    </ion-input>
  </ion-item>
  <ion-button 
    color="success" 
    (click)="(!forgotPassword) ? login() : resetPassword()" >
    {{ (!forgotPassword) ? 'LOGIN' :'ENVIAR'}}
  </ion-button>
  <ion-button 
    fill="outline"
    *ngIf="forgotPassword"
    (click)="forgot()" >
    CANCELAR
  </ion-button>
  <span 
    *ngIf="!forgotPassword"
    (click)="forgot()" >
    Esqueci a senha
  </span>
</form>
