<ion-header class="header">
  <ion-toolbar color="primary">
    <ion-icon class="back" name="chevron-back-outline" onclick="window.history.back()"></ion-icon>
    <ion-img src="../../../assets/logo-loading.svg"></ion-img>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="title-page">
    <ion-icon size="large" color="primary" name="calculator-outline"></ion-icon>
    <ion-text>Registrar despesa</ion-text>
  </div>
  <form class="ion-padding">
    <ion-item>
      <ion-label stacked >Email</ion-label>
      <ion-input 
        name="email"
        clear-input="true"
        placeholder=" exemplo@exemplo.com"
        type="text">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked >Email</ion-label>
      <ion-input 
        name="email"
        clear-input="true"
        placeholder=" exemplo@exemplo.com"
        type="text">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Cliente relacionada</ion-label>
      <ion-select value="dog">
        <ion-select-option value="cat">Cat</ion-select-option>
        <ion-select-option value="dog">Dog</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Tipo de despesa</ion-label>
      <ion-select value="dog">
        <ion-select-option value="cat">Cat</ion-select-option>
        <ion-select-option value="dog">Dog</ion-select-option>
      </ion-select>
    </ion-item>
  </form>
</ion-content>
