<ion-header collapse="fade" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-img src="../../../assets/logo-loading.svg"></ion-img>
  </ion-toolbar>
</ion-header>
<ion-content color="primary">
  <div class="container">
    <ion-button color="success">
      <ion-icon name="trail-sign-outline"></ion-icon>
      Iniciar visita
    </ion-button>
    <ion-button color="danger">
      <ion-icon name="close-outline"></ion-icon>
      Finalizar visita</ion-button>
    <ion-button color="tertiary">
      <ion-icon name="wallet-outline"></ion-icon>
      Registrar despesa</ion-button>
    <ion-button color="tertiary">
      <ion-icon name="people-outline"></ion-icon>
      Meus Clientes
    </ion-button>

  </div>
</ion-content>
  